body{
    font-family: 'Bungee Inline';font-size: 12px;
    background-color: brown;
}
header,footer{
    /*display: inline-block;*/
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    
    }

header #logo{
    float: left;
    max-width: 300px;
}

header nav{
        float:right;
        margin-top:10px;
       
}
    
header a{
    color:white;
    text-decoration:none;
    text-transform: lowercase;
    font-size:16px;
      }
      
header li{
    display:inline;
    padding: 0 20px 0 20px;
      }

button{
    
        border-radius:10px;
        height:50px;
        width: 25%;
        background-color:brown;
        border:0;
        margin:5px;
        padding-left: 20px;
        padding-right:20px;
        color:#ffffff;
    }

#sign_up_button{
    background-color:#e8491d;
    font-size: 10px;
    }

#log_in_button{
    background-color: aqua;
    font-size: 10px;
}
       
    .highlight, .current a{
        color:#e8491d;
        font-weight:bold;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius:10px;
        max-width: 300px;
        margin: 10px;
        text-align: center;
        background-color: white;
    }
    
    .puppyName {
        color:rgb(109,109,209);
        font-size: 15px;
    }
    
    
    .card a {
        text-decoration: none;
        font-size: 10px;
        color: red;
    }
    
    .card button:hover, a:hover {
        opacity: 0.7;
    }
    
    .card img{
        padding: 5px;
        width: 200px;
        height: 200px;
       
        
    }
    
    .card label{
        color:brown;
    }

    .imgcontainer {
    
        text-align: center;
        margin: 24px 0 12px 0;
    }
    
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    
#main{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:#FAD2CA;
    
}

#main_form{
     background-color: brown;
     color:black;
}
#log_in_form{
    vertical-align:middle;
    margin-left: 30%;
    max-width: 500px;
    background-color: burlywood;
    border-radius: 10%;
}